[submodule "feldspar-language"]
	path = benchmark/feldspar-language
	url = git@github.com:Feldspar/feldspar-language
[submodule "feldspar-compiler"]
	path = benchmark/feldspar-compiler
	url = git@github.com:Feldspar/feldspar-compiler
